<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="w4b.carnac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <w4b.carnac.Properties.Settings>
            <setting name="FontColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemBackgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftClickColor" serializeAs="String">
                <value />
            </setting>
            <setting name="RightClickColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ScrollClickColor" serializeAs="String">
                <value />
            </setting>
            <setting name="XButton1ClickColor" serializeAs="String">
                <value />
            </setting>
            <setting name="XButton2ClickColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Screen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Placement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
        </w4b.carnac.Properties.Settings>
    </userSettings>
</configuration>
